<div class='container'>
<h2>Recently Added</h2>
<div class='form-group'>
    <% books.forEach(book => { %>
        <label class="control-label"><%= book.title %></label>
        <a href="/books/<%= book.id%>">
            <img height="150" width="100" src="<%= book.coverImagePath %>">
        </a>  
    <% }) %>
</div>
</div>

